body {
  background: #fdf9ef;
  font-family: Manrope, sans-serif;
  color: #424842;
}

.container {
  max-width: 1400px;
  padding-inline: 2rem;
  margin-inline: auto;
}

.header {
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 11px #0000001c;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.33;
  transition: 0.2s;
  font-family: serif;
  color: #23422a;
}

.logo:hover {
  color: #566342;
  transform: translateY(-2px);
}

.navigation {
  display: none;
  font-family: "Manrope", sans-serif;
  text-transform: uppercase;
  font-size: 0.88rem;
  gap: 1rem;
  align-items: flex-end;
  color: #566342;
}

.navigation a {
  padding-bottom: 3px;
  letter-spacing: 1px;
  transition: 0.1s;
}

.navigation a:hover {
  transform: translateY(-2px);
  color: #23422a;
}

.navigation .active {
  color: #23422a;
  border-bottom: 2px solid #23422a;
  padding-bottom: 0.25rem;
}

.header-right {
  display: flex;
  gap: 1rem;
}

.header-right a,
.header-right svg {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  transition: 0.2s;
}

.header-right a:hover {
  color: #566342;
  transform: translateY(-2px);
}

@media (min-width: 730px) {
  .navigation {
    display: flex;
  }
  .header-burger {
    display: none !important;
  }
}

.hero {
  display: flex;
  align-items: center;
  height: 600px;
  background: url(https://picsum.photos/id/1040/800/600) center center / cover;
}

.hero .container {
  width: 100%;
}

.hero-body {
  background: #fdf9efd0;
  padding: 2rem;
  text-align: center;
  max-width: 672px;
}

.hero-date {
  font-size: 0.75rem;
  letter-spacing: 3px;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-block: 1rem 1.5rem;
  font-family: serif;
  color: #23422a;
  line-height: 1;
}

.hero-description {
  line-height: 1.6;
  text-wrap: balance;
  margin-bottom: 2rem;
}

.hero-btn {
  display: block;
  background: #23422a;
  color: #fff;
  padding: 1rem 2.5rem;
  font-size: 0.88rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.2s;
}

.hero-btn:hover {
  background: #566342;
}

@media (min-width: 720px) {
  .hero {
    height: 870px;
    background-image: url(https://picsum.photos/id/1040/2000/870);
  }
  .hero-body {
    padding: 3rem;
    text-align: left;
  }
  .hero-title {
    font-size: 6rem;
  }
  .hero-description {
    font-size: 1.25rem;
  }
  .hero-btn {
    width: max-content;
  }
}

.section {
  padding-block: 6rem;
}

.section-title {
  font-size: 1.88rem;
  font-family: serif;
  margin-bottom: 1rem;
  color: #23422a;
}

.section-description {
  line-height: 1.5;
  max-width: 700px;
}

.section-link {
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 1px;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: block;
  width: max-content;
  white-space: nowrap;
}

.section-body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

@media (min-width: 700px) {
  .section-title {
    font-size: 2.25rem;
  }
  .section-body {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.etudes-grid {
  display: grid;
  gap: 1.5rem;
}

.etude {
  position: relative;
}

.etude img {
  height: 300px;
  object-fit: cover;
}

.etude-big img {
  height: 400px;
}

.etude-body {
  position: absolute;
  left: 1.5rem;
  bottom: 1.5rem;
  background: #ebe8de;
  padding: 1rem;
}

.etude-title {
  font-size: 1.25rem;
  font-family: serif;
  line-height: 1.4;
  margin-bottom: 0.25rem;
  color: #23422a;
}

.etude-description {
  font-size: 0.63rem;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #566342;
}

@media (min-width: 820px) {
  .etudes-grid {
    grid-template-columns: 850fr 600fr;
  }
  .etude-big {
    grid-row: 1 / span 2;
  }
  .etude img {
    height: 100%;
  }
  .etude-title {
    font-size: 1.5rem;
  }
  .etude-description {
    font-size: 0.75rem;
  }
}
